@model IEnumerable<SAGM.Models.AllQuotes>
<style>
    td.details-control {
        background: url('images/det_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('images/det_close.png') no-repeat center center;
    }

</style>

<table class="table table-responsive table-hover responsive display" id="TableQuotes" style="font-size:small; width:100%;">
    <thead>
        <tr>
            <th align="right" >
                #
            </th>
            <th style="text-align:left;">
                Cotización
            </th>
            <th align="left">
                Cliente
            </th>
            <th style="text-align:left;">
                Contacto
            </th>
            <th style="text-align:left;">
                Comprador
            </th>
            <th style="text-align:left;">
                Fecha
            </th>
            <th style="text-align:left;">
                Vigencia
            </th>
            <th style="text-align:left;">
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CustomerPO)
            </th>
            <th>
                Subtotal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteStatus.QuoteStatusName)
            </th>
            <th>Acción</th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                Archivos en partidas:
            </th>
            <th>
                Archivos de cotización:
            </th>
            <th >
                Partidas
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    </table>
