@model SAGM.Data.Entities.Quote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.validUntilDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.validUntilDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
