@model IEnumerable<SAGM.Models.AllQuotes>


@{
    ViewData["Title"] = "Cotizaciones";
}
<link href="~/lib/datatables/css/responsive.datatables.min.css" rel="stylesheet" />
<style>
   select,  input[type="search"] {
        border: 1px solid gray;
        padding: .1em .1em;
        border-radius: .4em;
    }
    th{
        background-color: silver;
        color:black;
    }

    .opheader2 {
        font-weight: bold;
    }

   .opheader {
        font-weight: bold;
    }
</style>
<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-success bg-secondary bg-opacity-25">
            <div class=" container-fluid">
                <div class="row">
                        <div class="col-sm-4">
                            <i class="fa fa-file-invoice-dollar"></i><strong> Cotizaciones</strong>
                            <a onclick="showInPopup('@Url.Action("AddQuote", "Quotes", new { id = "" }, Context.Request.Scheme)' , 'Crear cotización @DateTime.Now.ToString(" yyyyMMdd")-XXX','bg-success')" class="btn btn-sm btn-outline-success" title="Crear cotización"><i class="fa fa-plus-circle"></i></a>
                            <a onclick="Export()" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-file-arrow-down"></i></a>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2" style="text-align:right; vertical-align:middle; padding-top:5px;">
                            <strong> Filtrar x fechas</strong>
                        </div>
                        <div class="col-sm-2 align-content-end">
                        <input id="Dateini" name="Dateini" value="@ViewBag.DateIni" class="form-control datepicker" type="date" />
                        </div>
                        <div class="col-sm-2 align-content-end">
                        <input id="Datefin" name="Datefin" value="@ViewBag.DateFin" class="form-control datepicker" type="date" />
                        </div>
                        <div class="col-sm-1" style="text-align:left; vertical-align:bottom;">
                            <a onclick="Filter()" class="btn btn-med btn-outline-success"><i class="fa-solid fa-filter" title="Filtrar"></i></a>
                        </div>
                </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="card-body">
    <div id="view-all">
        <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
        @await Html.PartialAsync("_ViewAllQuotes", Model)
    </div>
</div>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/showmodal.js"></script>
    <script type="text/javascript">
        var count = 0;
        var dataTable;
        var quoteid;
        function parseJsonDate(jsonDateString) {
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }
        $(document).ready(function () {
            if ($("#Result").val() == "true") {
                $.notify('@Html.Raw(ViewBag.Message)', "success", { globalPosition: "top left" });
            }
            else {
                $.notify('@Html.Raw(ViewBag.Message)', "error", { globalPosition: "top left" });
            }
            Filter();
  
        });
        function downloadFile(guid, filename) {
            var popout = window.open("/Quotes/DownloadFile/?id=" + guid + "&filename=" + filename, "_blank");
            return false;
        }

        function Export() {
            var popout = window.open("/Quotes/Export/", "_blank");
            return false;
        }

        function Filter() {
            if (dataTable != null) {
                dataTable.destroy();
                count = 0;
            };
            dataTable = $('#TableQuotes').DataTable(
                {
                     initComplete: function () {
                    this.api().columns(2).every(function () {
                        var column = this;
                        var select = $('<select style="font-weight: bold;"><option value="" class="form-control" selected style="font-weight:bold;">Clientes *</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                $(this).className = this.options[this.selectedIndex].className;
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option class="opheader2" value="' + d + '">' + d + '</option>')
                        });
                    });},
                    "ajax": {
                        "url": '/Quotes/GetQuotes?fini=' + $("#Dateini").val() + '&ffin=' + $("#Datefin").val(),
                        "type": "GET",
                        "datatype": "json"
                    },
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ],
                    
                    responsive: true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 1,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1,
                            "orderable":false
                        },
                        {
                            "targets": [2, 3],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1,
                            "orderable":false
                        },
                        {
                            "targets": 6,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": [5, 7],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 3
                        },
                        {
                            "targets": 8,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": [9],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 10,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": 12,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 13,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 18,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        }],
                    "columns": [
                        {
                            "data": "quoteId",
                            "render":
                                function (data) {
                                    quoteid = data;
                                    count = count + 1;
                                    return count.toString();
                                }
                        },
                        {
                            "data": "quoteName", "render":
                                function (data) {
                                    var result = '<a href=/Quotes/Details/' + quoteid + "> " + data + "</a>";
                                    return result;
                                }
                        },
                        { "data": "customerNickName" },
                        { "data": "finalUser" },
                        { "data": "buyerContact" },
                        {
                            "data": "quoteDate",
                            "render":
                                function (data) {
                                    var date = new Date(data);
                                    var day = date.getDate();
                                    var month = date.getMonth() + 1;
                                    var year = date.getFullYear();
                                    return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                }
                        },
                        {
                            "data": "validUntilDate",
                            "render":
                                function (data) {
                                    var date = new Date(data);
                                    var day = date.getDate();
                                    var month = date.getMonth() + 1;
                                    var year = date.getFullYear();
                                    return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                }
                        },
                        { "data": "seller" },
                        { "data": "currency" },

                        { "data": "customerPO" },
                        { "data": "total", "render": $.fn.dataTable.render.number(',', '.', 2) },
                        { "data": "discount" },
                        {
                            "data": "active",
                            "render":
                                function (data) {
                                    var result = "";

                                    if (data == true) {
                                        result += "<input type='checkbox' checked onclick='return false;' />";
                                    }
                                    else {
                                        result += "<input type='checkbox' onclick='return false;'/>";
                                    }
                                    return result;
                                }
                        },

                        { "data": "quoteStatusName" },
                        {
                            "data": "quoteId",
                            "render":
                                function (data) {
                                    var result = "";
                                    result += "<a title='Editar cotización' onclick=\"showInPopup('/Quotes/EditQuote?id=" + data + "','Editar\ cotización','bg-warning')\" ";
                                    result += "class='btn btn-sm btn-outline-warning'><i title='Editar cotización' class='fa-solid fa-pencil-alt'></i></a>";

                                    result += "<a title='Copiar cotización' onclick=\"showInPopup('/Quotes/CopyQuote?id=" + data + "','Copiar\ cotización','bg-success')\" ";
                                    result += "class='btn btn-sm btn-outline-success'><i title='Copiar cotización' class='fa fa-copy'></i></a>";

                                    result += "<a title='Subir archivo' onclick=\"showInPopup('/Archives/AddArchive?entityid=" + data + "&Entity=Quote','Agregar\ archivos','bg-primary')\" ";
                                    result += "class='btn btn-sm btn-outline-primary'><i title='Subir archivo' class='fa-solid fa-file-circle-plus'></i></a>";

                                    result += "<a title='Comentarios' onclick=\"showInPopup('/Quotes/AddOrEditComment?id=" + data + "','Agregar\ comentario','bg-primary')\" ";
                                    result += "class='btn btn-sm btn-outline-secondary'><i title='Comentarios' class='fa-solid fa-comments'></i></a>";
                                    return result;

                                }
                        },
                        {
                            "data": "tax",
                            "render":
                                function (data) {
                                    var result = "";
                                    result += data.toString() + "%";
                                    return result;
                                }
                        },
                        { "data": "modifyDate" },
                        { "data": "modifiedBy" },
                        { "data": "comments" },
                        { "data": "archivesNumber" },
                        {
                            "data": "archivesChain",
                            "render": function (data) {
                                var result = "";

                                if (data.length > 0) {
                                    result += "<div><table style='border: 1px solid;'><tr class='bg-secondary bg-opacity-25'>"
                                    result += "<th>Archivos</th>";
                                    result += "<th>Acción</th>";

                                    var arrFiles = data.split("|");

                                    for (var i = 0; i < arrFiles.length; i++) {
                                        var file = arrFiles[i].split(",");
                                        var guid = file[0];
                                        var filename = file[1];
                                        var id = file[2];

                                        var filetype = filename.split(".");
                                        var type = filetype[0];

                                        result += "<tr><td class='archive'>" + filename + "<td>";
                                        result += "<a title='Descargar' class='btn btn-sm btn-outline-primary' href='#' onclick=\"downloadFile('" + guid + "','" + filename + "')\"> <i class='fa fa-download'></i><strong></a>";
                                        // result += "<a onclick=deleteArchive('" + id + "') class= 'btn btn-sm btn-outline-danger' > <i class='fa fa-trash' title = 'Eliminar archivo' > </i></a >";
                                        result += "<a onclick=\"showInPopup('/Archives/Delete?id=" + id + "','Eliminar\ archivo','bg-secondary')\"";
                                        result += "class='btn btn-sm btn-outline-danger'><i title='Eliminar archivo' class='fa fa-trash'></i></a>";


                                        result += "</td></tr>";

                                    };
                                    result += "</table></div>";
                                }
                                else {
                                    result += "<span>No hay archivos anexos en la cotización</span>";
                                }

                                return result;
                            }
                        },
                        {
                            "data": "quoteDetails",
                            "render":
                                function (data) {
                                    var result = "";

                                    if (data.length != 0) {
                                        result = "<div><table style='border: 1px solid;'><tr class='bg-secondary bg-opacity-25'>"
                                        result += "<th>Cantidad</th>";
                                        result += "<th>Material</th>";
                                        result += "<th>Descripción</th>";
                                        result += "<th>Precio</th></tr>";
                                        for (var i = 0; i < data.length; i++) {
                                            result += "<tr><td>" + data[i].quantity + "</td>";
                                            result += "<td>" + data[i].material + "</td>";
                                            result += "<td>" + data[i].description + "</td>";
                                            result += "<td style='text-align:right'>" + Intl.NumberFormat('es-MX').format(data[i].price) + "</td></tr>";
                                        };
                                        result += "</table></div>";
                                    }
                                    else {
                                        result = 'No hay partidas'
                                    }
                                    return result;
                                }
                        }



                    ]
                });
        }
    </script>
    }




