@model SAGM.Data.Entities.MaterialType

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar?</h3>
<div>
    <h4>Tipo de Material</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialsNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialsNumber)
        </dd>
    </dl>

    <form asp-action="DeleteMaterialType">
        <input type="hidden" asp-for="MaterialTypeId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Details" asp-route-id="@Model.Category.CategoryId" class="btn btn-outline-success" id="btnRegresar">Regresar</a>
    </form>
</div>

@section Scripts {
    <script>
        //script para tener el foco sobre el campo inicial
        $(document).ready(function () {
            $("#btnRegresar").focus();
        })
    </script>
}
