@model SAGM.Data.Entities.Category

@{
    ViewData["Title"] = "Detalle de " + Model.CategoryName;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>

    a.firstlevel {
        width: 90px;
    }

    a.firstlevelb {
        width: 190px;
    }
</style>

<div>
    <h4>Detalle de categoría</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialTypesNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialTypesNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialesNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaterialesNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddMaterialType" asp-route-id="@Model.CategoryId" class="btn btn-outline-primary firstlevelb">+Tipo de Material</a>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-outline-warning firstlevel">Editar</a>
    <a asp-action="Index" class="btn btn-outline-success firstlevel">Regresar</a>
</div>
<div>
    <hr />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tipos de materiales</h3>
            </div>
            <div class="panel-body">
                <table class="table-hover table-responsive compact row-border" id="TableCategories" style="font-size:small;">

                    <thead>
                        <tr>
                            <th style="text-align:center;">&nbsp;&emsp;#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaterialTypes.FirstOrDefault().MaterialTypeName)
                            </th>
                            <th style="text-align:center;">
                                @Html.DisplayNameFor(model => model.MaterialTypes.FirstOrDefault().MaterialsNumber)
                            </th>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MaterialTypes)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaterialsNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    <a asp-action="EditMaterialType" asp-route-id="@item.MaterialTypeId" class="btn btn-sm btn-outline-warning" data-toggle='tooltip' title='Editar'><i class="fa-solid fa-pencil"></i></a>
                                    <a asp-action="DetailsMaterialType" asp-route-id="@item.MaterialTypeId" class="btn btn-sm btn-outline-info" data-toggle='tooltip' title='Detalles'><i class="fa-solid fa-info-circle"></i></a>
                                    <a asp-action="DeleteMaterialType" asp-route-id="@item.MaterialTypeId" class="btn btn-sm btn-outline-danger" data-toggle='tooltip' title='Eliminar'><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript">
        var count = 0;
        $(document).ready(function () {
            $('#TableCategories').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    },
                    "aLengthMenu": [
                        [10, 25, 50, 100, 200, -1],
                        [10, 25, 50, 100, 200, "Todos"]
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: 'dt-body-center'
                        },
                        {
                            "targets": [2, 3],
                            className: 'dt-body-center'
                        },
                        {
                            "targets": 4,
                            "orderable": false,
                            className: 'dt-body-left'
                        }
                    ],
                    "columns": [
                        { "data": "MaterialTypeId", "render": function (data) { count = count + 1; return count.toString(); } },
                        { "data": "MaterialTypeName" },
                        { "data": "MaterialesNumber" },
                        { "data": "Active" },
                        { "data": "MaterialTypeId" }
                    ]
                });

        });
    </script>
           }