@model SAGM.Data.Entities.Category

@{
    ViewData["Title"] = "Detalle de " + Model.CategoryName;
}

<div>
    <div class="text-primary bg-secondary bg-opacity-25 header">
        <div class="row">
            <div class="col-11"><i class="fa fa-object-group"></i><strong> Detalle de categoría:  <b>@Html.DisplayFor(model => model.CategoryName)</b></strong></div>
            <div class="col-1 text-end"><a asp-action="Index" title="Regresar" class="btn btn-sm btn-outline-success"><i class="fa-solid fa-arrow-rotate-left" title="Regresar"></i></a></div>
        </div>
    </div>
    <div class="contenido container-fluid">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaterialTypesNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaterialTypesNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaterialesNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaterialesNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
        </dl>
    </div>
    
</div>

<div class="contenido card mt-2">
    <div class="card-header text-primary bg-secondary bg-opacity-25">
        <i class="fa fa-object-group"></i><strong> Tipos de Materiales</strong>
        <a onclick="showInPopup('@Url.Action("AddMaterialType", "Categories", new { id = Model.CategoryId}, Context.Request.Scheme)','Nuevo tipo de material','bg-primary')" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-plus-circle" title="Agregar tipo de material"></i></a>           
    </div>
    <div class="card-body">
        <div id="view-all">
            <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
            @await Html.PartialAsync("_ViewAllMaterialTypes", Model)
        </div>
    </div>
</div>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/showmodal.js"></script>
    <script type="text/javascript">
        var count = 0;
        $(document).ready(function () {
            if ($("#Result").val() == "true") {
                $.notify('@Html.Raw(ViewBag.Message)', "success", { globalPosition: "top center" });
            }
            else if ($("#Result").val() == "false") {
                $.notify('@Html.Raw(ViewBag.Message)', "error", { globalPosition: "top center" });
            }
            $('#TableCategories').DataTable(
                {
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [10, 25, 50, 100, 200, -1],
                        [10, 25, 50, 100, 200, "Todos"]
                    ],
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: 'dt-body-center'
                        },
                        {
                            "targets": [2, 3],
                            className: 'dt-body-center'
                        },
                        {
                            "targets": 4,
                            "orderable": false,
                            className: 'dt-body-left'
                        }
                    ],
                    "columns": [
                        { "data": "MaterialTypeId", "render": function (data) { count = count + 1; return count.toString(); } },
                        { "data": "MaterialTypeName" },
                        { "data": "MaterialesNumber" },
                        { "data": "Active" },
                        { "data": "MaterialTypeId" }
                    ]
                });
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Categories/DeleteMaterialType/', false);
        });
       
    </script>

 }