@model SAGM.Models.EditUserViewModel

@{
    ViewData["Title"] = "Editar";
}

<flash dismissable="true" />
<h2>Editar</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="ChangeUser" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageId" />
            <input type="hidden" asp-for="Countries" />
            <input type="hidden" asp-for="States" />
            <input type="hidden" asp-for="Cities" />
            <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
            <partial name="_User" />

            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                <a asp-action="ChangePassword" class="btn btn-outline-secondary">Cambiar Contraseña</a>
            </div>

            <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
            <input type="hidden" id="Message" name="Message" value="@ViewBag.Message" />
        </form>
    </div>
    <div class="col-md-4 zoom">
        <img src="@Model.ImageFullPath" style="width:200px;height:200px;border-radius:50%" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#StateId").empty();
                $("#StateId").append('<option value="0">[Selecciona un estado...]</option>');
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Selecciona una ciudad...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStates")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (States) {
                        $.each(States, function (i, state) {
                            $("#StateId").append('<option value="'
                                + state.stateId + '">'
                                + state.stateName + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })

            $("#StateId").change(function () {
                $("#CityId").empty();
                $("#CityId").append('<option value="0">[Selecciona una ciudad...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCities")',
                    dataType: 'json',
                    data: { stateId: $("#StateId").val() },
                    success: function (cities) {
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.cityId + '">'
                                + city.cityName + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })

            if ($("#Result").val() == "true") {
                msj = $("#Message").val();
                msj = msj.toString().replace("ñ", "\u00f1")
                $.notify(msj, "success");
            }
        });

       
    </script>
}