@model SAGM.Models.WorkOrderViewModel

@{
    ViewData["Title"] = "Detalle " + Model.WorkOrderName;
}

<style>
    .archive
    {
        font-size: small;
    }

    select, input[type="search"] {
        border: 1px solid gray;
        padding: .1em .1em;
        border-radius: .4em;
    }

    .liContainer {
        width: 100%;
        display: table-row;
    }

    .cell {
        display: table-cell;
        vertical-align: middle;
    }

    th {
        background-color: silver;
        color: black;
    }

    div.completed
    {
        color: green;
        font-weight: bold;
    }

    div.pending {
        color: orange;
        font-weight: bold;
    }

    div.nothing{
        color: red;
        font-weight: bold;
    }
    

    tfoot
    {
        border:none !important;
    }
</style>
<div>
    <div class="text-success bg-secondary bg-opacity-25 header">
        <div class="row">
            <div class="col-11"><i class="fa fa-file-invoice-dollar"></i><strong> Detalle de Orden de trabajo:  <b>@Html.DisplayFor(model => model.WorkOrderName)</b></strong></div>
            <div class="col-1 text-end"><a asp-action="Index" title="Regresar" class="back"><i class="fa-solid fa-arrow-rotate-left" title="Regresar"></i></a></div>
        </div>
    </div>
    <input type="hidden" id="WorkOrderId" value="@Model.WorkOrderId"/>
    <input type="hidden" id="WorkOrderDetailId" value="@ViewBag.workOrderDetailId" />
    <input type="hidden" id="Tax" value = "@Model.Tax" />
    <input type="hidden" id="Discount" value="0" />

    <div class="container-fluid contenido">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer.CustomerNickName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.CustomerNickName)
                        <img src="@Model.Customer.ImageFullPath" style="width:50px; height:50px; border-radius:50%;" class="zoom" />
                    </dd>
                    <dt class="col-sm-3">
                        Documento
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.WorkOrderName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.SellerName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.SellerName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BuyerName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BuyerName)
                    </dd>
                    <dt class="col-sm-3">
                        Usuario
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FinalUserName)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <dl class="row">

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CustomerPO)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CustomerPO)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.WorkOrderstatus)
                    </dt>
                    <dd class="col-sm-5">
                        <div class="form-group">
                            <select asp-for="WorkOrderStatusId" asp-items="Model.WorkOrderstatus" class="form-control" id="WorkOrderStatusId" onchange="changestatus(this.value);"></select>
                            <span asp-validation-for="WorkOrderStatusId" class="text-danger"></span>
                        </div>
                    </dd>
                    <dt class="col-sm-3">
                        Modificado
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ModifyDate)
                    </dd>
                    <dd>
                        @if (ViewBag.DetailsCount > 0)
                        {
                            <a onclick="PrintReport('@Model.WorkOrderId')" class="btn btn-primary">OT <i title='Imprimir Orden de Trabajo' class='fa-solid fa-print'></i></a>

                            <a href='@Url.Action("Remision", "WorkOrders", new { id = @Model.WorkOrderId }, Context.Request.Scheme)' class="btn btn-outline-primary" title="Imprimir remisión">Remisión<i class="fa-solid fa-list-check"></i></a>
                
                        }
                    </dd>

                </dl>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-3 col-xl-3">
                <dl class="row" style="width:100%;">
                    <div class="row justify-content-md-right">
                        <div class="col-lg-12 justify-content-right">
                            <canvas id="myChart" width="400" height="400"></canvas>
                        </div>

                    </div>
                </dl>
            </div>
        </div>
       
    </div>


</div>


<div class="contenido card mt-2">
    <div class="card-header text-success bg-secondary bg-opacity-25">
        <i class="fa fa-file-invoice-dollar"></i><strong> Partidas</strong>
        <a onclick="showInPopup('@Url.Action("AddOrEditDetail", "WorkOrders", new { id = Model.WorkOrderId, detailid=0 }, Context.Request.Scheme)','Agregar partida','bg-success')" class="btn btn-sm btn-outline-success"><i class="fa-solid fa-plus-circle" title="Agregar partida"></i></a>
    </div>
    <div class="card-body">
        <div id="view-all" style="width:100%;">
            <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
            <input type="hidden" id="Message" name="Message" value="@ViewBag.Message" />
            @await Html.PartialAsync("_ViewAllWorkOrderDetails.cshtml", Model)
        </div>
    </div>
</div>
<div>

</div>

<partial name="_AddOrEditDialog" />


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        var count = 0;
        var Popup, dataTable, detailid;
            var rolex;
        var subototal = 0;
        var quantity = 0;

        var controlGraphic = window.document.getElementById("myChart");


        $(document).ready(function () {
           
            if ($("#Result").val() == "true") {
                $.notify('@Html.Raw(ViewBag.Message)', "success", { globalPosition: "top center" });
                var remisionName = $("#Message").val();


                if ($("#Message").val().substring(0,9) == "La remisi") {
                    var remision = remisionName.substring(12, 28)
                    PrintRemision(remision);
                    $("#Message").val("");

                }
             
            }
            else if ($("#Result").val() == "false") {
                $.notify('@Html.Raw(ViewBag.Message)', "error", { globalPosition: "top center" });
            }

            graphic($("#WorkOrderId").val().toString());
         
            dataTable = $('#TableWorkOrderDetails').DataTable(
                {
                    "ajax": {
                        "url": '/WorkOrders/GetWorkOrderDetails/?id=' + $('#WorkOrderId').val(),
                        "type": "GET",
                        "datatype": "json"
                    },
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ],
                    "rowId": "workOrderDetailId",
                    responsive: true,
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        // Total over all pages
                        subtotal = api
                            .column(7)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total over this page
                        pageTotal = api
                            .column(7, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer
                        var htmlres = "<div><div class='row'><span style='text-align:right;'>Subtotal</span></div>";
                            htmlres += "<div class='row'><span style='text-align:right;'>Descuento</span></div> ";
                        htmlres += "<div class='row'><span style='text-align:right;'>IVA(" + $("#Tax").val().toString() + "%)</span></div>";
                            htmlres += "<div class='row'><span style='text-align:right;'>Total $ </span></div> </div>";
                        $(api.column(6).footer()).html(htmlres);

                        var iva = parseFloat($("#Tax").val())/100;
                        var ivaplus = parseFloat(1) + parseFloat(iva);
                        var descuento = parseFloat($("#Discount").val());
                        var IVA = (subtotal + descuento) * parseFloat(iva);
                        var Total = (subtotal + descuento) * parseFloat(ivaplus);
                        htmlres = "<div>" +
                            "<div class='row'><span style='text-align:right;'>" + parseFloat(subtotal, 8).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</span></div>" +
                            "<div class='row'><span style='text-align:right;'>" + descuento.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</span></div>" +
                            "<div class='row'><span style='text-align:right;'>" + IVA.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() +  "</span></div>" +
                            "<div class='row'><span style='text-align:right;'>" + Total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString() + "</span></div>" +
                            "</div>"
                        
                        $(api.column(7).footer()).html(htmlres);
                        //$(api.column(7).footer(1)).html("IVA $ " + parseFloat(total*.16, 8).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString());
                    },
                    "columnDefs": [
                        {
                            "targets": 0,
                            visible: false,
                            orderable: false
                        },
                        {
                            "targets": 1,
                            visible: true,
                            responsivePriority: 1,
                                orderable: false
                        },
                        {
                            "targets": 2,  //Cantidad
                            className: 'dt-body-center',
                            visible: true,
                            responsivePriority: 1,
                                orderable: false
                        },
                        {
                            "targets": [3, 4],//Unidad y Material
                            className: 'dt-body-left',
                            orderable: false,
                            responsivePriority: 3,
                                orderable: false
                        },
                        {
                            "targets": 5,  //Cantidad
                            className: 'dt-body-left',
                            visible: true,
                            responsivePriority: 1,
                            orderable: false
                        },
                        {
                            "targets": [6, 7],
                            className: 'dt-body-right',
                            orderable: false,
                            responsivePriority: 2,
                            orderable: false
                        },
                        {
                            "targets": 8,
                            className: 'dt-body-center',
                            orderable: false,
                            responsivePriority: 3,
                            orderable: false
                        },
                        {
                            "targets": [9,10,11,12,13],
                            className: 'dt-body-center',
                            orderable: false,
                            responsivePriority: 2,
                            orderable: false
                        },

                    ],
                    "columns": [
                            { "data": "workOrderDetailId" },
                            { "data": "workOrderDetailId", "render": function (data) { count = count + 1; detailid = data; return "<span>" + count.toString() + "</span>"; } },
                            { "data": "quantity",
                                "render": function (data) {
                                    quantity = data;
                                    return data;
                                }
                            },
                            { "data": "unit.unitName" },
                            { "data": "material.materialName" },
                            { "data": "description" },
                            { "data": "price", "render": $.fn.dataTable.render.number(',', '.', 2) },
                            { "data": "total", "render": $.fn.dataTable.render.number(',', '.', 2) },
                            { "data": "archivesNumber" },
                            { "data": "rawMaterial", 
                                "render": function (data) { 
                                    if (data == quantity) {
                                    return "<div class='completed'>" + data + "</div>"
                                    }
                                    else if (data == 0) {
                                        return "<div class='nothing'>" + data + "</div>"
                                    }
                                    else {
                                        return "<div class='pending'>" + data + "</div>"
                                    }
} 
                            },
                            { "data": "tt",
                                "render": function (data) {
                                    if (data == quantity) {
                                        return "<div class='completed'>" + data + "</div>"
                                    }
                                    else if (data == 0) {
                                        return "<div class='nothing'>" + data + "</div>"
                                    }
                                    else {
                                        return "<div class='pending'>" + data + "</div>"
                                    }
                                }
                            },
                            { "data": "machined",
                                    "render": function (data) {
                                    if (data == quantity) {
                                        return "<div class='completed'>" + data + "</div>"
                                    }
                                    else if (data == 0) {
                                        return "<div class='nothing'>" + data + "</div>"
                                    }
                                    else {
                                        return "<div class='pending'>" + data + "</div>"
                                    }
                                }
                            },
                            { "data": "invoiced",
                                "render": function (data) {
                                    if (data == quantity) {
                                        return "<div class='completed'>" + data + "</div>"
                                    }
                                    else if (data == 0) {
                                        return "<div class='nothing'>" + data + "</div>"
                                    }
                                    else {
                                        return "<div class='pending'>" + data + "</div>"
                                    }
                                }
                            },
                            { "data": "shipped",
                                "render": function (data) {
                                    if (data == quantity) {
                                        return "<div class='completed'>" + data + "</div>"
                                    }
                                    else if (data == 0) {
                                        return "<div class='nothing'>" + data + "</div>"
                                    }
                                    else {
                                        return "<div class='pending'>" + data + "</div>"
                                    }
                                }
                            },
                            { "data": "workOrderDetailId", 
                                "render": function (data) { 
                                    wodid = data;
                                    var result = "<div style='white-space: nowrap;'>";
                                    result += "<a title='Copiar partida' onclick=\"CopyDetail('" + data + "')\" ";
                                    result += "class='btn btn-sm btn-outline-success'><i class='fa-solid fa-copy' title='Copiar partida'></i></a>";

                                    result += "<a title='Editar partida' onclick=\"showInPopup('/WorkOrders/AddOrEditDetail?id=" + $("#WorkOrderId").val() + "&detailid=" + detailid + "','Editar\ partida','bg-warning')\"";
                                    result += "class='btn btn-sm btn-outline-warning'><i title='Editar partida' class='fa-solid fa-pencil-alt'></i></a>";

                                    result += "<a title='Agregar archivos' onclick=\"showInPopup('/Archives/AddArchive?entityid=" + data + "&Entity=WorkOrderDetail','Agregar\archivos','bg-primary')\"";
                                    result += "class='btn btn-sm btn-outline-primary'><i title='Agregar archivos' class='fa-solid fa-file-circle-plus'></i></a>";

                                    result += "<a title='Comentarios' onclick=\"showInPopup('/WorkOrders/AddOrEditDetailComment?id=" + data + "','Agregar\ comentario','bg-primary')\" ";
                                    result += "class='btn btn-sm btn-outline-secondary'><i class='fa-solid fa-comments' title='Comentarios'></i></a>";

                                    result += "<a title='Procesos' onclick=\"showInPopup('/WorkOrders/AddOrEditProcess?id=0&workOrderDetailId=" + data + "','Agregar\ proceso','bg-warning')\" ";
                                    result += "class='btn btn-sm btn-outline-warning' style='color:black;'>+<i class='fa-solid fa-gear' title='Procesos' style='color:orange;'></i></a>";

                                result += "<a title='Eliminar partida' onclick=\"showInPopup('/WorkOrders/DeleteWorkOrderDetail?id=" + data + "','Eliminar\ partida','bg-danger')\"";
                                    result += "class='btn btn-sm btn-outline-danger'><i title='Eliminar partida' class='fa-solid fa-trash'></i></a>";

                                    result += "</div>";
                                    
                                   
                                    return result;
                                }
                            
                                },
                            {
                                "data": "archivesChain",
                            "render": function (data) {
                                var result = "";
                
                                if (data.length > 0) {
                                    result += "<div ><table class='form-control'><tr class='card-header text-success bg-secondary bg-opacity-25'>"
                                    result += "<th>Archivos</th>";
                                    result += "<th>Acción</th>";

                                    var arrFiles = data.split("|");

                                    for (var i = 0; i < arrFiles.length; i++) {
                                        var file = arrFiles[i].split(",");
                                        var guid = file[0];
                                        var filename = file[1];
                                        var id = file[2];

                                        var filetype = filename.split(".");
                                        var type = filetype[0];

                                        result += "<tr><td class='archive'>" + filename + "<td>";
                                        result += "<a title='Descargar' class='btn btn-sm btn-outline-primary' href='#' onclick=\"downloadFile('" + guid + "','" + filename + "')\"> <i class='fa fa-download'></i><strong></a>";
                                        // result += "<a onclick=deleteArchive('" + id + "') class= 'btn btn-sm btn-outline-danger' > <i class='fa fa-trash' title = 'Eliminar archivo' > </i></a >";
                                        result += "<a onclick=\"showInPopup('/Archives/Delete?id=" + id + "','Eliminar\ archivo','bg-secondary')\"";
                                        result += "class='btn btn-sm btn-outline-danger'><i title='Eliminar archivo' class='fa fa-trash'></i></a>";
                             

                                        result += "</td></tr>";

                                    };
                                    result += "</table></div>";
                                }

                                return result;
                            }
                        },
                        {
                            "data": "processchain",
                            "render": function (data) {
                                var result = "";

                                if (data.length > 0) {
                                    result += "<div ><table class='form-control'><tr class='card-header text-success bg-secondary bg-opacity-25'>"
                                    result += "<th>Proceso</th>";
                                    result += "<th>Maquina</th>";
                                    result += "<th>Unidad</th>";
                                    result += "<th>Cantidad</th>";
                                    result += "<th>Acción</th>";

                                    var arrProcess = data.split("|");
                                    var sumquantity = 0;
                                    for (var i = 0; i < arrProcess.length; i++) {
                                        var process = arrProcess[i].split(",");
                                        var processname = process[0];
                                        var machine = process[1];
                                        var unit = process[2];
                                        var quantity = process[3];
                                        var wodpid = process[4];
                                        sumquantity = sumquantity + parseFloat(quantity);
                            

                                        result += "<tr><td>" + processname + "</td>";
                                        result += "<td>" + machine + "</td>";
                                        result += "<td>" + unit + "</td>";
                                        result += "<td>" + quantity + "</td>";
                                        result += "<td><a title='Procesos' onclick=\"showInPopup('/WorkOrders/AddOrEditProcess?id=" + wodpid + "&workOrderDetailid=" + wodid + "','Procesos','bg-primary')\" ";
                                        result += "class='btn btn-sm btn-outline-warning'><i class='fa-solid fa-pencil' title='Procesos'></i></a>";
                                        result += "<a onclick=\"showInPopup('/WorkOrders/DeleteProcess?id=" + wodpid + "','Eliminar\ proceso','bg-secondary')\"";
                                        result += "class='btn btn-sm btn-outline-danger'><i title='Eliminar proceso' class='fa fa-trash'></i></a>";

                                        result += "</td></tr>";

                                    };
                                    result += "<tr style='border-top:solid 1px silver;font-weight:bold;'><td></td><td></td><td>Total</td><td>" + sumquantity + "</td><td></td></tr>";
                                    result += "</table></div>";
                                }

                                return result;
                            }
                        }
                    ]
                });
          
        });
        function actualiza() {
            
                dataTable.ajax.reload();
            
            return false;
        };
        function deleteArchive(id) {
                $.ajax({
                    type: "Post",
                    url: "/Archives/DeleteArchive/",
                    dataType: 'json',
                    data: { id: id },
                    success: function (data) {

                        if (data = "success") {
                            $.notify("Archivo eliminado", {
                                globalPosition: "top center",
                                className: "success"
                            });
                        
                            dataTable.ajax.reload()
                            //Popup.dialog('close');
                        }

                    }
                })
        };
        function downloadFile(guid, filename) {
                var popout = window.open("/WorkOrders/DownloadFile/?id=" + guid + "&filename=" + filename, "_blank");
                return false;
        };
        function PrintReport(workorderid) {
            var popout = window.open("/WorkOrders/PrintReport/?WorkOrderId=" + workorderid, "_blank");
                return false;
        }
        function PopupForm(url, msg) {
                var formDiv = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        formDiv.html(response);

                        Popup = formDiv.dialog({
                            autoOpen: true,
                            dialogClass: "alert",
                            classes: {
                                "ui-dialog": "ui-corner-all",
                                "ui-dialog-titlebar": "ui-corner-all",
                            },
                            show: { effect: "fade", duration: 400 },
                            hide: { effect: "slide", duration: 200 },
                            modal: true,
                            resizable: false,
                            title: msg,
                            height: 420,
                            width: 410,
                            close: function () {
                                Popup.dialog('destroy').remove();
                            }
                        });
                    });
            }
        function CopyDetail(workOrderdetailId) {
            $.ajax({
                type: "Post",
                url: "/WorkOrders/CopyDetail/",
                dataType: 'json',
                data: { workOrderDetailId: workOrderdetailId },
                success: function (data) {

                    if (data = "success") {
                        $.notify("Partida copiada", {
                            globalPosition: "top center",
                            className: "success"
                        });

                        dataTable.ajax.reload()
                        setTimeout('ejecuta(' + $("#IndexID").val() + ')', 2100);
                        //Popup.dialog('close');
                    }

                }
            });
        };
        function changestatus(statusid) {
            var id = $("#WorkOrderId").val();
            $.ajax({
                type: "Post",
                url: "/WorkOrders/ChangeStatus/",
                dataType: 'json',
                data: { workorderid: id, statusid: statusid },
                success: function (data) {

                    if (data.isValid == true) {
                        $.notify("Estatus modificado", {
                            globalPosition: "top center",
                            className: "success"
                        });
                        //setTimeout('window.document.reload()', 1100);
                        //Popup.dialog('close');
                    }

                }
            });
        };

        function graphic(workorderid) {

            var totales = [];
            var ut = 0;
            var utp = 0;
            var mp = 0;
            var mpp = 0;
            var mo = 0;
            var mop = 0;

            var uti = "";
            var map = "";
            var mao = "";
            

            jQuery.ajax(
                {
                    url: '@Url.Action("GetForecast","WorkOrders")',
                    data: { workorderid: workorderid },
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) { 
                       // console.log(data);//para mostrar los datos en la consola

                        mp = data.materialCost;
                        mo = data.processCost;
                        ut = data.total - data.materialCost - data.processCost;

                        utp =(ut / data.total) * 100;
                        mpp = (mp / data.total) * 100;
                        mop = (mo / data.total) * 100;


                        map = 'MP ' + Math.round(mpp) + '%';
                        mao = 'MO ' + Math.round(mop) + '%';
                        uti = 'UT ' + Math.round(utp) + '%';

                        totales.push(mp);
                        totales.push(mo);
                        totales.push(ut);
                        
                        console.log(totales);

                        var graficoBar = new Chart(controlGraphic, {
                            type: 'pie',
                            data: {
                                labels: [map, mao, uti],
                                datasets: [
                                    {
                                        label: 'Dataset 1',
                                        data: totales,
                                        backgroundColor: ['#BB2100', '#EB8934', '#37EB34']
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Rendimiento'
                                    }
                                }
                            },
                        })
                       
                    },
                    error: function (error) { 
                        console.log(error)
                    }
                }
            )

            //RED #BB2100, ORANGE #EB8934, YELLOW #EBE534, GREEN #37EB34, BLUE #3437EB
  
        

            
        }

        function PrintRemision(workorderdeliveryname) {
            var popout = window.open("/WorkOrders/PrintRemision/?workorderdeliveryname=" + workorderdeliveryname, "_blank");
            return false;
        }
   
    </script>



}