@model SAGM.Data.Entities.State
<table class="table table-hover table-responsive compact" style="font-size:small;" id="TableCities">

    <colgroup>
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th style="text-align:center;">&nbsp;&emsp;#</th>
            <th>
                @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().CityName)
            </th>
            <th style="text-align: center;">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model?.Cities)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("EditCity", "Countries", new { id = item.CityId }, Context.Request.Scheme)' , 'Actualizar Ciudad')" class="btn btn-sm btn-outline-warning"><i class="fa fa-pencil-alt"></i> </a>
                    <button data-id="@item.CityId" class="btn btn-sm btn-outline-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>