@model SAGM.Data.Entities.State

@{
    ViewData["Title"] = "Details";
}

<style>

    a.firstlevel {
        width: 80px;
    }
</style>

<div>
    <h4>Detalles de estado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CitiesNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CitiesNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddCity" asp-route-id="@Model.StateId" class="btn btn-outline-primary firstlevel">+Ciudad</a>
    <a asp-action="EditState" asp-route-id="@Model?.StateId" class="btn btn-outline-warning firstlevel">Editar</a>
    <a asp-action="Details" asp-route-id="@Model.Country.CountryId" class="btn btn-outline-success firstlevel">Regresar</a>
</div>
<div>
    <hr />
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ciudades</h3>
            </div>
            <div class="panel-body">
                <table class="table-hover table-responsive compact row-border" id="TableStates" style="font-size:small;">

                    <thead>
                        <tr>
                            <th style="text-align:center;">&nbsp;&emsp;#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().CityName)
                            </th>
                            <th style="text-align: center;">
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cities)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CityName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    <a asp-action="EditCity" asp-route-id="@item.CityId" class="btn btn-sm btn-outline-warning" data-toggle='tooltip' title='Editar'><i class="fa-solid fa-pencil"></i></a>
                                    <a asp-action="DetailsCity" asp-route-id="@item.CityId" class="btn btn-sm btn-outline-info" data-toggle='tooltip' title='Detalles'><i class="fa-solid fa-info-circle"></i></a>
                                    <a asp-action="DeleteCity" asp-route-id="@item.CityId" class="btn btn-sm btn-outline-danger" data-toggle='tooltip' title='Eliminar'><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        var count = 0;
        $(document).ready(function () {
            $('#TableStates').DataTable(
                {
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [10, 25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ],
                    "columnDefs": [{
                        "targets": [0,2],
                        "orderable": true,
                        className: 'dt-body-center'
                    },
                    {
                        "targets": 1,
                        className: 'dt-body-left'
                    },
                    {
                        "targets": 3,
                        "orderable": false,
                        className: 'dt-body-left'
                    }],
                    "columns": [
                        { "data": "CityId", "render": function (data) { count = count + 1; return count.toString(); } },
                        { "data": "CityName" },
                        { "data": "Active" },
                        { "data": "CityId" }
                    ]
                });

        });
    </script>
           }