@model IEnumerable<SAGM.Models.AllOrders>


@{
    ViewData["Title"] = "Ordenes de compra";
}
<link href="~/lib/datatables/css/responsive.datatables.min.css" rel="stylesheet" />
<style>
   select,  input[type="search"] {
        border: 1px solid gray;
        padding: .1em .1em;
        border-radius: .4em;
    }
    th{
        background-color: silver;
        color:black;
    }


</style>
<div class="container-fluid">
    <div class="card mt-2">
        <div class="card-header text-danger bg-secondary bg-opacity-25">

            <div class=" container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="fa fa-money-check-dollar"></i><strong> Ordenes de compra</strong>
                        <a onclick="showInPopup('@Url.Action("AddOrder", "Orders", new { id = "" }, Context.Request.Scheme)' , 'Crear OC @DateTime.Now.ToString(" yyyyMMdd")-XXX','bg-danger')" class="btn btn-sm btn-outline-success" title="Crear OC"><i class="fa fa-plus-circle"></i></a>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" style="text-align:right; vertical-align:middle; padding-top:5px;">
                        <strong> Filtrar x fechas</strong>
                    </div>
                    <div class="col-sm-2 align-content-end">
                        <input id="Dateini" name="Dateini" value="@ViewBag.DateIni" class="form-control datepicker" type="date" />
                    </div>
                    <div class="col-sm-2 align-content-end">
                        <input id="Datefin" name="Datefin" value="@ViewBag.DateFin" class="form-control datepicker" type="date" />
                    </div>
                    <div class="col-sm-1" style="text-align:left; vertical-align:bottom;">
                        <a onclick="getOrders()" class="btn btn-med btn-outline-success"><i class="fa-solid fa-filter" title="Filtrar"></i></a>
                    </div>
                    <div class="col-sm-1">
                        <label style="color:black;">Solo activas</label> <input type="checkbox" checked="@ViewBag.activeflag" name="activeflag" id="activeflag" onchange="getOrders();" />
                    </div>
                </div>
            </div>
         
        </div>  
        <div class="card-body">
            <div id="view-all">
                <input type="hidden" id="Result" name="Result" value="@ViewBag.Result" />
                @await Html.PartialAsync("_ViewAllOrders", Model)
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="WorkOrdersModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content g1">
            <div class="modal-header bg-blue-gradient" style="background-color:gainsboro;">
                <div class="col-11">
                    <h5 class="modal-title text-danger" id="exampleModalLabel"><b>Selecciona una orden de trabajo</b></h5>
                </div>
                <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal" onclick="DestroyTableWorkOrders()" style="border:none !important;background-color:gainsboro;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table table-responsive">
                    <table id="TableWorkOrders" class="table  table-hover display" style="width:100%; font-size:x-small;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>OT</th>
                                <th>QuoteId</th>
                                <th>Cotización</th>
                                <th>Cliente</th>
                                <th>Usuario</th>
                                <th>Comprador</th>
                                <th>Fecha compromiso</th>
                                <th>OC Cliente</th>
                                <th>Subtotal</th>
                                <th>Comentarios</th>
                                <th>Acción</th>
                                <th>Partidas</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" id="btnCancelTableWorkOrder" class="btn btn-secondary" data-bs-dismiss="modal" onclick="DestroyTableWorkOrders()"><i class="fa fa-ban"> </i>Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<partial name="_AddOrEditDialog" />
<partial name="_DeleteDialog" />
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/showmodal.js"></script>
    <script type="text/javascript">
        var count = 0;
        var dataTable;
        var orderid;
        var dataTableWorkOrders;
        var workorderid;
        var statusname;
        function parseJsonDate(jsonDateString) {
            return new Date(parseInt(jsonDateString.replace('/Date(', '')));
        }
        //Como hay un checkbox de activeflag que pide traer las ordenes solo activas o todas es necesario recargar la tabla de Orders
        //funcion GetOrders del controller, nos vimos forzados a meterla dentro de una función para poder llamarlo en el .ready y tambien cuando cambie el checkbox de "Solo Activas"
        function getOrders()
        {
                      if ($("#Result").val() == "true") {
                $.notify('@Html.Raw(ViewBag.Message)', "success", { globalPosition: "top left" });
            }
            else {
                $.notify('@Html.Raw(ViewBag.Message)', "error", { globalPosition: "top left" });
            }

            count = 0;
             if (dataTable != null) {
                dataTable.destroy();
            };


            dataTable = $('#TableOrders').DataTable(
                {
                    "ajax": {
                            "url": '/Orders/GetOrders?activeflag=' +  $('#activeflag').is(":checked") + '&fini=' + $("#Dateini").val() + '&ffin=' + $("#Datefin").val(), 
                        "type": "GET",
                        "datatype": "json"
                    },
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ],
                    responsive: true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 1,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 2,
                            className: 'dt-body-left dt-body-nowrap',
                            visible: false
                        },
                        {
                            "targets": [3,4],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 8,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": [7,9],
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": 10,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": 11,
                            className: 'dt-body-right dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": 12,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 4
                        },
                        {
                            "targets": [13,14,15],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        }],
                    "columns": [
                        {
                            "data": "orderId",
                            "render":
                                function (data) {
                                    orderid = data;
                                    count = count + 1;
                                    return count.toString(); }
                        },
                        { "data": "orderName", "render":
                                function (data) {
                                    var result = '<a href=/Orders/Details/' + orderid + "> " + data + "</a>";
                                    return result;
                                                }
                        },
                        {
                            "data": "workOrderid",
                            "render":
                                function (data) {
                                    workorderid = data;
                                    return data;
                                }
                        },
                        {
                            "data": "workOrderName", "render":
                                function (data) {
                                    var result = '<a href=/WorkOrders/Details/' + workorderid + "> " + data + "</a>";
                                    return result;
                                }
                        },
                        { "data": "supplierNickName" },
                        { "data": "sellerContact" },
                        { "data": "buyer" },
                        {
                            "data": "orderDate",
                            "render":
                                function (data) {
                                    var date = new Date(data);
                                    var day = date.getDate();
                                    var month = date.getMonth()+1;
                                    var year = date.getFullYear();
                                    return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                }
                        },
                        {
                            "data": "estimatedDeliveryDate",
                            "render":
                                function (data) {
                                    var date = new Date(data);
                                    var day = date.getDate();
                                    var month = date.getMonth() + 1;
                                    var year = date.getFullYear();
                                    return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                }
                        },
                        {
                            "data": "deliveryDate",
                            "render":
                                function (data) {
                                    if (data != null) {
                                        var date = new Date(data);
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                    }
                                    else {
                                        return "";
                                    }

                                }
                        },
                        { "data": "currency" },

                        { "data": "supplierQuote" },
                        { "data": "total", "render": $.fn.dataTable.render.number(',', '.', 2) },
                        {
                            "data": "active",
                            "render":
                                function (data) {
                                    var result = "";

                                    if (data == true) {
                                        result += "<input type='checkbox' checked onclick='return false;' />";
                                    }
                                    else {
                                        result += "<input type='checkbox' onclick='return false;'/>";
                                    }
                                    return result;
                                }
                        },

                        {
                            "data": "orderStatusName",
                            "render":
                                function (data) {
                                    statusname = data;
                                    return data;
                                }
                        },
                        { "data": "orderId",
                          "render":
                          function (data) {
                            var result = "";

                                result += "<a title='Editar OC' onclick=\"showInPopup('/Orders/EditOrder?id=" + data + "','Editar\ OC','bg-danger')\" ";
                                result += "class='btn btn-sm btn-outline-warning'><i title='Editar OC' class='fa-solid fa-pencil-alt' style='width:17px;'></i></a>";

                              if (workorderid == 0)
                              {
                                  result += "<a title='Enlazr OC' data-bs-toggle='modal' data-bs-target='#WorkOrdersModal' onclick='GetWorkOrders(" + data + ")' ";
                                  result += "class='btn btn-sm btn-outline-primary'><i title='Enlazar OC' class='fa fa-link'></i></a>";
                              }
                              else
                              {
                                        result += "<a title='Desenlazar' onclick=\"showInPopup('/Orders/UnlinkOT?id=" + data + "','Desenlazar\ OC','bg-danger')\" ";
                                        result += "class='btn btn-sm btn-outline-danger'><i title='Desenlazar OC' class='fa fa-link-slash' style='width:17px;'></i></a>";
                              }


                                result += "<a title='Copiar OC' onclick=\"showInPopup('/Orders/CopyOrder?id=" + data + "','Copiar\ OC','bg-danger')\" ";
                                result += "class='btn btn-sm btn-outline-success'><i title='Copiar OC' class='fa fa-copy' style='width:17px;'></i></a>";

                                result += "<a title='Subir archivo' onclick=\"showInPopup('/Archives/AddArchive?entityid=" + data + "&Entity=Order','Agregar\ archivos','bg-primary')\" ";
                                result += "class='btn btn-sm btn-outline-primary'><i title='Subir archivo' class='fa-solid fa-file-circle-plus' style='width:17px;'></i></a>";

                                result += "<a title='Comentarios' onclick=\"showInPopup('/Orders/AddOrEditComment?id=" + data + "','Agregar\ comentario','bg-primary')\" ";
                                result += "class='btn btn-sm btn-outline-secondary'><i title='Comentarios' class='fa-solid fa-comments' style='width:17px;'></i></a>";

                              if (statusname == "X RECIBIR") {
                                        result += "<a title='Recibir pedido' href='/Orders/Receive?id=" + orderid + "' ";
                                        result += "class='btn btn-sm btn-outline-success'><i title='Recibir pedido' class='fa fa-check' style='width:17px;'></i></a>";
                              }

                                return result;

                        } },
                        { "data": "tax",
                        "render":
                            function (data) {
                                var result = "";
                                result += data.toString() + "%";
                                return result; }
                        },
                        { "data": "comments" },
                        { "data": "archivesNumber" },
                        {
                            "data": "archivesChain",
                            "render": function (data) {
                                var result = "";

                                if (data.length > 0) {
                                    result += "<div><table style='border: 1px solid;'><tr class='bg-secondary bg-opacity-25'>"
                                    result += "<th>Archivos</th>";
                                    result += "<th>Acción</th>";

                                    var arrFiles = data.split("|");

                                    for (var i = 0; i < arrFiles.length; i++) {
                                        var file = arrFiles[i].split(",");
                                        var guid = file[0];
                                        var filename = file[1];
                                        var id = file[2];

                                        var filetype = filename.split(".");
                                        var type = filetype[0];

                                        result += "<tr><td class='archive'>" + filename + "<td>";
                                        result += "<a title='Descargar' class='btn btn-sm btn-outline-primary' href='#' onclick=\"downloadFile('" + guid + "','" + filename + "')\"> <i class='fa fa-download'></i><strong></a>";
                                        // result += "<a onclick=deleteArchive('" + id + "') class= 'btn btn-sm btn-outline-danger' > <i class='fa fa-trash' title = 'Eliminar archivo' > </i></a >";
                                        result += "<a onclick=\"showInPopup('/Archives/Delete?id=" + id + "','Eliminar\ archivo','bg-secondary')\"";
                                        result += "class='btn btn-sm btn-outline-danger'><i title='Eliminar archivo' class='fa fa-trash'></i></a>";


                                        result += "</td></tr>";

                                    };
                                    result += "</table></div>";
                                }
                                else {
                                    result += "<span>No hay archivos anexos en la cotización</span>";
                                }

                                return result;
                            }
                        },
                          {
                            "data": "orderDetails",
                            "render":
                                function (data) {
                                    var result = "";

                                    if (data.length !=0) {
                                        result = "<div><table style='border: 1px solid;'><tr class='bg-secondary bg-opacity-25'>"
                                        result += "<th>Cantidad</th>";
                                        result += "<th>Material</th>";
                                        result += "<th>Descripción</th>";
                                        result += "<th>Precio</th></tr>";
                                        for (var i = 0; i < data.length; i++) {
                                            result += "<tr><td>" + data[i].quantity + "</td>";
                                            result += "<td>" + data[i].material + "</td>";
                                            result += "<td>" + data[i].description + "</td>";
                                            result += "<td style='text-align:right'>" + Intl.NumberFormat('es-MX').format(data[i].price) + "</td></tr>";
                                        };
                                        result += "</table></div>";
                                    }
                                    else {
                                        result ='No hay partidas'
                                    }
                                    return result;
                                }
                        }
                    ]
                });

        };
        $(document).ready(function () {

            getOrders();
        });

        function downloadFile(guid, filename) {
            var popout = window.open("/Quotes/DownloadFile/?id=" + guid + "&filename=" + filename, "_blank");
            return false;
        }

        function Export() {
            var popout = window.open("/Quotes/Export/", "_blank");
            return false;
        }

        function GetWorkOrders(lorderid) {
            count = 0;
            orderid = lorderid;
            dataTableWorkOrders = $('#TableWorkOrders').DataTable(
                {
                    "ajax": {
                        "url": '/WorkOrders/GetWorkOrders',
                        "type": "GET",
                        "datatype": "json"
                    },
                    "language": {
                        "url": "/lib/datatables/Spanish.json"
                    },
                    "aLengthMenu": [
                        [25, 50, 100, 200, -1],
                        [25, 50, 100, 200, "Todos"]
                    ],
                    responsive: true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 1,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1,
                        },
                        {
                            "targets": 2,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 4,
                            visible: false

                        },
                        {
                            "targets": 3,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": [4, 5],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": [6, 7],
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 2
                        },
                        {
                            "targets": [8,10],
                            className: 'dt-body-center dt-body-nowrap',
                            responsivePriority: 3
                        },
                        {
                            "targets": 9,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 3
                        },
                        {
                            "targets": 11,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 1
                        },
                        {
                            "targets": 12,
                            className: 'dt-body-left dt-body-nowrap',
                            responsivePriority: 4
                        }],
                    "columns": [
                        {
                            "data": "workOrderId",
                            "render":
                                function (data) {
                                    workorderid = data;
                                    count = count + 1;
                                    return count.toString();
                                }
                        },
                        {
                            "data": "workOrderName", "render":
                                function (data) {
                                    var result = '<a href=/WorkOrders/Details/' + workorderid + "> " + data + "</a>";
                                    return result;
                                }
                        },
                        {

                            "data": "quoteId",
                            "render":
                                function (data) {
                                    quoteid = data;
                                    return quoteid;
                                }
                        },
                       
                        {
                            "data": "quoteName", "render":
                                function (data) {
                                    var result = '<a href=/Quotes/Details/' + quoteid + "> " + data + "</a>";
                                    return result;
                                }
                        },
                        { "data": "customerNickName" },
                        { "data": "finalUser" },
                        { "data": "buyerContact" },
                        {
                            "data": "promiseDate",
                            "render":
                                function (data) {
                                    if (data != null) {
                                        var date = new Date(data);
                                        var day = date.getDate();
                                        var month = date.getMonth() + 1;
                                        var year = date.getFullYear();
                                        return year + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + (day.toString().length > 1 ? day : "0" + day);
                                    }
                                    else {
                                        return "";
                                    }

                                }
                        },
                        { "data": "customerPO" },
                        { "data": "total", "render": $.fn.dataTable.render.number(',', '.', 2) },
                        { "data": "comments" },
                        {
                            "data": "workOrderId",
                            "render":
                                function (data) {
                                    var result = "";
                                    result += "<a title='Enlazar OT' onclick='LinkOT(" + orderid + "," + data + ")' ";
                                    result += "class='btn btn-sm btn-outline-warning'><i title='Enlazar OT' class='fa-solid fa-link'></i></a>";
                                    return result;

                                }
                        },
                        {
                            "data": "workOrderDetails",
                            "render":
                                function (data) {
                                    var result = "";

                                    if (data.length != 0) {
                                        result += "<div><table style='border: 1px solid;'><tr class='bg-secondary bg-opacity-25'>";
                                        result += "<th>Cant</th>";
                                        result += "<th>Material</th>";
                                        result += "<th>Desc</th>";
                                        result += "<th>Precio</th>";
                                        result += "<th>MP</th>";
                                        result += "<th>Maquinadas</th>";
                                        result += "<th>TT</th>";
                                        result += "<th>Embarcadas</th>";
                                        result += "<th>Facturadas</th></tr>";
                                        for (var i = 0; i < data.length; i++) {
                                            result += "<tr><td>" + data[i].quantity + "</td>";
                                            result += "<td>" + data[i].material + "</td>";
                                            result += "<td>" + data[i].description + "</td>";
                                            result += "<td style='text-align:right'>" + Intl.NumberFormat('es-MX').format(data[i].price) + "</td>";
                                            result += "<td>" + data[i].rawMaterial + "</td>";
                                            result += "<td>" + data[i].machined + "</td>";
                                            result += "<td>" + data[i].tt + "</td>";
                                            result += "<td>" + data[i].shipped + "</td>";
                                            result += "<td>" + data[i].invoiced + "</td></tr>";
                                        };
                                        result += "</table></div>";
                                    }
                                    else {
                                        result = 'No hay partidas'
                                    }
                                    return result;
                                }
                        }

                    ]
                });
        }
        function DestroyTableWorkOrders() {
            var dataTableWorkOrders = $('#TableWorkOrders').DataTable();
            dataTableWorkOrders.destroy();
        }

        function LinkOT(orderid,workorderid) {
            $.ajax({
                type: "POST",
                url: "/Orders/LinkOT?orderid=" + orderid + "&workorderid=" + workorderid,
                data: null,
                async: true,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success == true) {
                        $('#btnCancelTableWorkOrder').click();
                        dataTable.ajax.reload();
                        //notificacion de transaccion exitosa usando plugin notify
                        $.notify("¡OC Enlazada!", {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "warn"
                        })
                    }
                }
            });
        }
    </script>
    }




